{% extends 'visualize/template.html' %}
{% load static %}

{% block header %}

<h1>Rating of projects</h1>

<div class="container">
  <div class="dropdown scroll-menu scroll-menu-2x">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Change language
    <span class="caret"></span></button>
    <ul class="dropdown-menu" style="height: 400px; overflow: scroll;">
        {% for lang in langs %}
      <li><a href="{% url 'visualize:remote' lang %}">{{ lang }}</a></li>
        {% empty %}
    <li>No data available</li>
        {% endfor %}
    </ul>
  </div>
</div>

{% endblock header %}

{% block content %}

<embed type="image/svg+xml" src="{% static 'visualize/repos.svg' %}"/>


{% endblock content %}